body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

section {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
}

input {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.button-group button {
    flex: 1 1 45%;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 4px;
}

#payment-history, #inventory-history, #drink-history {
    margin-top: 1rem;
}

#payment-history-list, #inventory-history-list, #drink-history-list {
    list-style-type: none;
    padding: 0;
}

/* 추가된 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
